@import 'Color';

body{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
    color: $base-color;
    font-family: 'Montserrat';
}

/* Tablet styles */
@media screen and (max-width: 1024px) {
    body {
        min-width: 300px;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 18px;
    }
}

